ul,li,dl,dt,dd,p,input,label,body,h1,h2,h3,img,ol{margin:0; padding:0;}
img{border:none;}
ul,li,ol{list-style:none;}
a{text-decoration:none; color:#4a4a4a;}
a:hover{color:orange;}
body{font:12px/20px Verdana, 'simsun', Geneva, sans-serif; color:#5f5f5f; background:url(../images/login/bg_body.png) #e4e4e4 center top repeat-y;}

.wapper{width:932px; margin:0 auto; padding:0 44px;}
.txtblue{color:#001c43;}
.mb{margin-bottom:10px;}
.tc{text-align:center;}
.fl{float:left;}
.clear{clear:both;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both; display:table; height:0; line-height:0; content:"";}

header{padding-top:20px; height:110px; border-top:5px #001c43 solid; }
.menu{float:right; padding-top:30px;}
.menu li{display:inline-block; *zoom:1; *display:inline; background:url(../images/images/loging/bg.png) right top no-repeat; padding:22px 32px 12px 32px; height:28px; position:relative; z-index:30;}
.menu a{ font:bold 14px/2 'Adobe 黑体 Std'; color:#001c43;}
.menu a:hover{color:orange;}
.menu .last{background:none; padding-right:0;}
.submenu{ position:absolute; display:none; width:400px; height:35px; padding:11px 0px 6px 20px; background:url(../images/images/loging/submenu.png) left no-repeat;_background:url(../images/images/loging/submenu_6.png) left no-repeat;  z-index:31; left:0px; top:50px;}
#m_pro .submenu{left:-218px;width:420px; *width:417px; }
#m_pro .sj{left:278px;}
#m_info .submenu{width:330px; *width:320px; }
#m_profile .submenu{width:210px; }
.submenu i{position:absolute;}
.submenu .sj{width:0; height:0; border-width:0 10px 10px 10px; border-style:solid; border-color: #ffffff #ffffff #001c43 #ffffff; left:50px; top:1px; _font-size:0; _line-height:0;}
.submenu a{ color:#98a3b5; font:12px/35px simsun; padding:0 16px;}
.submenu .rightborder{width:1px; height:52px; top:0; right:-1px; background:url(../images/images/loging/submenu_r.png) left no-repeat;_background:url(../images/images/loging/submenu_r_6.png) left no-repeat;}



.club{padding:190px 0 0 23px; width:203px; height:110px; position:relative; float:left; background:url(../images/images/loging/jlb.jpg) left no-repeat; margin-right:4px;}
.a1{position:absolute; right:22px; top:90px; text-decoration:underline;}
.club li{width:85px; height:23px; background:url(../images/images/loging/bg.png) -220px -30px no-repeat; line-height:23px; text-align:center;display:inline-block; *zoom:1; *display:inline; margin-right:10px; margin-bottom:5px; }
.club .on{background-position:-220px 0;}
.club a{color:#fff;}
.club a:hover{color:orange;}




.login_box{ background:url(../images/login/banner_login.jpg) center top no-repeat; padding-top:350px;border-top:4px #001c43 solid; }
#log{margin-left:370px;}
#log li{padding:5px 0;}
#log label{display:inline-block; *zoom:1; *display:inline; width:5em; vertical-align:middle;}
.ipt{border:#b7b7b7 1px solid; height:20px; background-color:#ebebeb; vertical-align:middle; width:150px;}
.ipt2{border:#b7b7b7 1px solid; height:20px; background-color:#ebebeb; vertical-align:middle; }
#log img{vertical-align:middle;}
#log .pl4{padding-left:5em;}
.btn,.btn_2{border:none; width:64px; height:22px; cursor:pointer}
.btn{background:url(../images/login/btn_bg.jpg) 0 0; color:#001c43; margin-right:3px;}
.btn_2{background:url(../images/login/btn_bg.jpg) -67px 0; color:#fff;}
#log a{text-decoration:underline; color:#001c43;}

.line{margin:30px auto; background:#d0d0d0; height:1px; font-size:0; line-height:1px; clear:both; width:934px;}
.tc{text-align:center;}
.footer{text-align:center; padding-bottom:30px; color:#000;}



/*club内*/
.bg_club{background:url(../images/images/loging/bg_club_x.jpg) top repeat-x; border-top:5px #001c43 solid; padding-bottom:20px;}
.tr{text-align:right; line-height:30px;}

.clubleft{width:227px; margin-right:24px; float:left;}
.welcome{background:#001c43 url(../images/images/loging/bg_club.png) 0 -30px no-repeat; color:#cdecfe; text-align:center; padding-top:0px;}
.extensible{background:url(../images/images/loging/bg_club.png) -250px -150px; text-align:center; height:41px; line-height:41px; text-indent:1em; color:#001c43; cursor:pointer;}
.clubleft dt.show{background:url(../images/images/loging/bg_club.png) 0px -150px;}
.clubleft dt a{display:block; background:#c0c0c0; color:#001c43; border-top:#fff 1px solid;text-align:center; height:41px; line-height:41px; }
.clubleft dd{background-color:#f0f0ee; line-height:33px; padding:10px 0 0px 12px; border-top:#fff 1px solid; display:none;}
.clubleft .m_1 a{width:70px; text-align:center; display:inline-block; *zoom:1; *display:inline; color:#001c43; overflow:hidden; height:30px;}
.clubleft .m_2 a{text-align:center; display:block;color:#001c43; border-bottom:#fff 1px solid;}
.ul_tab{border-bottom:#001c43 10px solid; background-color:rgb(228, 228, 228); }
.ul_tab li{float:left; width:136px; height:31px; line-height:31px; background:url(../images/images/loging/bg_club.png) -387px -30px no-repeat; font-weight:bold; text-align:center; cursor:pointer;}
.ul_tab .on{color:#fff;background-position:-250px -30px;}
.tabbox_2{background:url(../images/images/loging/bg_club.png) 0 -200px no-repeat; padding:2px 11px 0 11px;*zoom:1;}
.club_box{border:#ccc 1px solid; border-top:none; padding:15px 28px 28px;}

.tb_fund th{background:#cdecfe; font-weight:bold;}
.tb_fund th,.tb_fund td{height:41px; border-bottom:#fff 1px solid; text-align:center; color:#000;}
.tb_fund td{background-color:#f0f0ee;}
.tb_fund {margin-bottom:20px;}


.rightcontent{width:680px; float:left;}
.wordbox{line-height:25px;}
.wordbox p{text-indent:2em;}

.news_content{float:left; line-height:20px; width:620px; margin-right:10px;}
.news_content h3{font:bold 14px/3 'simsun', "Times New Roman", serif;}
.news_content p{text-indent:2em;}
.news_ul{clear:both; height:176px; overflow:hidden;}
.news_ul li{border-bottom:#5f5f5f 1px dashed; line-height:35px; overflow:hidden;}
.news_ul .date{float:right;}
.news_ul a{float:left; width:240px; overflow:hidden;}

.club_box tr{ border-bottom-style:dashed;border-bottom-width:1px;}
.club_box .t {width:550px;margin-left:80px;text-align:center;border:none;border-collapse:collapse;}

.club_box  .t  {border-collapse:collapse;border:0;text-align:center;margin-left:20px;}
.club_box  .t  .line {background:#d6effe;}
.club_box  .t  .blod {font-weight:bolder;}
.club_box  .t  th{text-align:left;}
.club_box  .t  td    {border:1px #fff solid;height:24px;line-height:24px;text-align:left;}
.club_box  .t .centerTd{ text-align:center;}

.ableText{border:none;background:url(images/ableText.jpg) no-repeat;height:19px;width:135px;}
.ableTextAddress {border:none;background:url(images/ableTextAddress.jpg) ;height:19px;width:300px;;}
.unableText{border:none;background:url(images/unableText.jpg) no-repeat;height:19px;width:135px;}



.block {margin-top:20px;}
.block .question {background:url(images/gusetbook02.jpg) repeat-y;width:600px;}
.block .question ul {list-style:none;position:relative;top:0px;color:#fff; margin-left:10px;}
.block .question li {width:580px;height:auto;line-height:24px;border:none;}
.block .date   {float:right;margin-top:0px;}
.block .answer {background:url(images/gusetbook04.jpg) repeat-y;width:600px;}
.block .answer ul {list-style:none;position:relative; margin-left:10px;}
.block .answer li {width:580px;height:auto;line-height:22px;border:none;}
.question { font-family: 宋体; font-size: 14px; padding-top:20px;text-indent:2em; }
.answer { font-family: 宋体; font-size: 14px;text-indent:2em; }